{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Mon compte" %}{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            
            {% block profile_content_one %}
                <div class="col s12 l4">
                    <!-- SIDE MENU -->
                    {% include "accounts/side_menu.html" %}
                </div>

                <div class="col s12 l8">
                    {% block profile_content %}{% endblock profile_content %}
                </div>
            {% endblock profile_content_one %}
        </div>
    </section>
{% endblock body %}

{% block extra_scripts %}
    <script src="{% static 'accounts/profile.js' %}"></script>
{% endblock extra_scripts %}