{% extends "base.html" %}
{% load i18n %}

{% block meta_description %}
    <meta name="description" content="{% trans 'XXXX' %}">
{% endblock meta_description %}

{% block hero %}
    <!-- HERO -->
    <div class="hero">
        <div class="hero-wrapper">
            <div class="call-to-action">
                <div class="lead-stronger">{% trans "Authentication with Django" %}</div>
                <div class="lead-subtitle">
                    {% trans "Le prêt à porter de marques" %}
                    <div class="lead-button">
                        <a href="{% url 'login' %}" class="btn-large">{% trans "Login" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BENEFITS -->
    {% include "hero/benefits.html" %}

    <!-- CONTACT -->
    {% include "hero/contact.html" %}
{% endblock hero %}
