{% extends "base.html" %}
{% load i18n static %}

{% block meta_description %}
    <meta name="description" content="{% trans 'XXXX' %}">
{% endblock meta_description %}

{% block title %}Authentication{% endblock title %}

{% block hero %}
    <!-- HERO -->
    <div class="hero">
        <div class="hero-wrapper">
            <div class="call-to-action">
                <div class="lead-stronger">{% trans "Authentication with Django" %}</div>
                <div class="lead-subtitle">
                    {% trans "Quick and simple authentication with Django" %}
                    <div class="lead-button">
                        <a href="{% url 'login' %}" class="btn-large light-blue darken-3">{% trans "Login" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BENEFITS -->
    {% include "home/benefits.html" %}

    <!-- CONTACT -->
    {% include "home/contact.html" %}
{% endblock hero %}
