{% extends "registration/base_registrations.html" %}
{% load i18n %}
{% block title %}{% trans "Se connecter" %}{% endblock title %}

{% block registration_form %}
    {% include "../components/registration_form.html" %}
{% endblock registration_form %}

{% block extra_registration_links %}
    <p class="registration-nav-link">Forgot your password? <a href="{% url 'forgot_password' %}" class="bold-text-1">Send yourself a new one</a></p>
    <p class="registration-nav-link">Don't have an account? <a href="{% url 'signup' %}" class="bold-text-1">Get yours now</a></p>
{% endblock extra_registration_links %}
